doctype html
html(lang='en')
    head
        title Portland Historical Tour Reservations
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/project.css")
        link(href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css')
    body
        div#wrapper
        header
            img(src="images/portlandhistoricaltoursheader.png" alt="Portland Historical Tours" width="920" height="290")
        nav
            ul
                li
                    a(href="index.html") Home
                li
                    a(href="about.html") About
                li
                    a(href="tours.html") Tours
                li
                    a(href="/reservations") Reservations
                li
                    a(href="contact.html") Contact
        main
            h1  Thank you!
            p You will receive a your reservation details in a confirmation email shortly. We look forward to meeting you!

        footer
            div#footernav
                a(href="index.html") Home &nbsp;
                a(href="about.html") About &nbsp;
                a(href="tours.html") Tours &nbsp;
                a(href="/reservations") Reservations &nbsp;
                a(href="contact.html") Contact &nbsp;
            p
                Copyright &copy; Portland Historical Tours<br>
                a(href="mailto:hello@portlandhistoricaltours.com") hello@portlandhistoricaltours.com



